body{
    font-family: 'Poppins', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
}

/*HEADER*/
header{
    background: #f5f4f6;
    padding: 22px 0; /*отступы (up/down l/r)*/
}
.header-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header-container a{
    color: #000000;
    font-size: 16px;
    margin-right: 63px; 
    padding: 27px 6px;
}
#menu-checkbox{
    display: none;
}
.header-container a:hover{
    background: #ffe72c;
}
ul{
    display: flex;
}
nav{
    margin-top: 20px;
}

/*SLIDER*/
.top-slide{
    background: url(img/slider_bg.png) no-repeat;
    padding-top: 120px;
    padding-bottom: 300px;
    margin-bottom: 90px;
}
.top-container{
    width: 80%;
    margin: 0 auto;
}
.top-slide h2{
    background: #ffe72c; 
    display: inline;
    font-size: 50px;
    padding: 0 13px; /*отступы (up/down l/r)*/
}
.top-slide :nth-child(2){
    margin-bottom: 10px;
}
.top-slide p{
    background: #414145; 
    display: inline;
    font-size: 24px;
    padding: 0 5px;
    color: #ffffff;
}

/*SPECIALIZE*/
.specialize-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.specialize-container h3{
    font-size: 35px;
}
.specialize-container p{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px
}
.first-p{
    font-size: 20px;
    color: #ffffff;
}
.bottom-card{
    background: #414145;
    position: relative; /*Относительное позиционирование*/
    top: -30px;

}
.specialize-cards{
    display: flex;
    justify-content: space-between; /*flx равно распр. по строке(1&N прижим к краям)*/
}

/* доделать для 768px */
@media screen and (max-width: 420px){
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .main-menu{
        display: none;
    }
    .main-menu li {
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .main-menu a{
       display: block;
       padding: 5px; /* между nav кнопками */
    }
    .toggle-button{
        text-align: center;
        display: block;
        cursor: pointer;
        color: #0000a0;
        margin-top: 20px;
    }
    .toggle-button:after{ /* БЕЗ ПРОБЕЛОВ ОКОЛО ":"-иначе не работает!!*/
        content: attr(data-open);  
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu{
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
        content: attr(data-close);
    }
    .header-container a{
        margin-right: -65px;
    }
    .main-menu{
        position: relative;
        top: 20px;
        right: 100px;
    }
}